:root {
    --p-color: #000000;
    --s-color: #FFFFFF;

    --grey-color: #8B8585;
    --grey-2-color: rgba(255, 255, 255, 0.8);
    --blue-color: #0B83FE;
    --red-color: #FF3B30;
    --green-color: #32D74B;
    --lime-color: #C1F41B;
    --red-color-opacity: rgba(255, 59, 48, 0.1);

    --font-family-1: 'Roboto', 'Varela Round', sans-serif;
    --font-family-2: 'Varela Round', 'Roboto', sans-serif;

}