<template>
  <div
    class="pressure-card"
    :class="{
      'pressure-card--no-data': isEmpty
    }"
  >
    <div class="pressure-card__title">
      <font-awesome-icon class="pressure-card__icon" :icon="['fa', 'heartbeat']" />
      {{ title }}
    </div>
    <template v-if="!isEmpty">
      <font-awesome-icon class="button--add" :icon="['fa', 'plus-circle']" @click="openModal"/>
      <div class="pressure-card__content">
        <div class="pressure-card__blood">
          <div class="pressure-card__sys">
            SYS:&nbsp;<strong class="pressure-card__value">{{ pressureData.sys }}</strong>
          </div>
          <div class="pressure-card__dia">
            DIA:&nbsp;&nbsp;<strong class="pressure-card__value">{{ pressureData.dia }}</strong>
          </div>
        </div>
        <div class="pressure-card__divider"></div>
        <div class="pressure-card__pulse">
          <font-awesome-icon class="pressure-card__pulse-icon" :icon="['fa', 'wave-square']" />&nbsp;<strong class="pressure-card__value">{{ pressureData.pulse }}</strong>
        </div>
      </div>
    </template>
    <template v-else>
      <span class="pressure-card__text">There is no data for today</span>
      <font-awesome-icon class="pressure-card__button" :icon="['fa', 'plus-circle']" @click="openModal"/>
    </template>
  </div>
</template>

<script>

export default {
  name: 'PressureCard',
  components: {
  },
  props: {
    pressureData: {
      type: Object,
      required: false,
    },
    title: {
      type: String,
      required: false,
    },
  },
  methods: {
    openModal() {
      const modal = document.querySelector('.modal--pressure-card');

      if (!modal) {
        console.log('Modal does not exist')
        return;
      }
      document.body.classList.add('no-scroll');
      modal.classList.toggle('modal--active');
    }
  },
  computed: {
    isEmpty: function() {
      return typeof this.pressureData !== 'object';
    }
  }
}
</script>

<style scoped lang="scss">

.pressure-card {
  border-radius: 16px;
  height: 110px;
  width: 100%;
  max-width: 360px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;

  &__title {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: -24px;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
  }

  &__icon {
    color: var(--red-color);
  }

  &__content {
    width: 100%;
    display: inline-flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    column-gap: 8px;
  }

  &__divider {
    width: 2px;
    background-color: var(--s-color);
    border-radius: 2px;
  }

  &__blood {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 2px 8px;
  }

  &__sys,
  &__dia {
    line-height: 180%;
    color: var(--grey-color);
    font-family: var(--font-family-2);
    font-size: 15px;
  }

  &__pulse {
    font-size: 50px;
    line-height: 180%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 2px 8px;
    font-family: var(--font-family-2);

    &-icon {
      color: var(--red-color);
      animation-name: heartbeat;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }

  &__value {
    color: var(--s-color);
    font-size: 30px;
  }

  &--no-data {
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: auto;


    .pressure-card__button {
      font-size: 19px;
      cursor: pointer;
      position: initial;
    }

    .pressure-card__text {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }

}

</style>
