/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

<template>
  <div class="button-card" :style="propButtonStyle">
    <font-awesome-icon
        class="button-card__icon button-card__icon--fa"
        :style="propIconStyle"
        :icon="propIcon"
        v-if="propIcon"/>
    <div class="button-card__title">{{ propTitle }}</div>
    <font-awesome-icon class="button-card__icon" :icon="['fa', 'angle-right']"/>
  </div>
</template>

<script>
export default {
  name: "ButtonCard",
  props: {
    propIcon: {
      type: Array,
      required: false,
    },
    propTitle: {
      type: String,
      required: true
    },
    propIconStyle: {
      type: Object,
      required: false,
    },
    propButtonStyle: {
      type: Object,
      required: false,
    }
  },
}
</script>

<style scoped lang="scss">
.button-card {
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  padding: 14px 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  transition: all .24s ease-in-out;

  &:hover {
    background-color: var(--blue-color);
    color: var(--s-color);

    .button-card__icon {
      color: var(--s-color);
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    flex-grow: 1;
  }

  &__icon {
    color: var(--grey-color);
    transition: all .24s ease-in-out;

    &--fa {
      font-size: 18px;
      color: var(--blue-color);
    }
  }
}
</style>