<template>
  <header class="menu">
    <nav class="menu__nav">
      <ul class="menu__list">
          <MenuItem
            v-for="menuItem in menuItems"
            :key="menuItem.id"
            :title="menuItem.title"
            :icon="menuItem.icon"
            :link="menuItem.link"
          />
      </ul>
    </nav>
  </header>
</template>

<script>
import MenuItem from "@/components/#UI/MenuItem";

export default {
  name: 'Menu',
  components: {
    MenuItem
  },
  props: {
    menuItems: {
      type: Array,
      required: true,
    }
  }
}
</script>

<style scoped lang="scss">

.menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--grey-color);
  min-height: 11%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-top: 7px;
  z-index: 5;

  &__nav {
    width: 100%;
  }

  &__list {
    width: 100%;
    display: inline-flex;
    align-items: center;
    list-style: none;
  }
}

</style>
