/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

<template>
  <li class="menu__item">
    <router-link
        :to="link"
        class="menu__link"
        active-class="menu__link--active"
    >
      <font-awesome-icon class="menu__icon" :icon="icon" />
      <span class="menu__text">{{ title }}</span>
    </router-link>
  </li>
</template>

<script>
export default {
  name: "MenuItem",
  props: {
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: Array,
      required: false,
    },
    link: {
      type: String,
      required: true,
    },
  }
}
</script>

<style scoped lang="scss">
.menu {
  &__link {
    display: flex;
    flex-flow: column nowrap;
    height: 50px;
    align-items: center;
    text-align: center;
    position: relative;
    row-gap: 10px;

    @media (pointer: fine) and (hover: hover) {
      &:hover {
        color: var(--blue-color);
      }
    }

    &--active {
      color: var(--blue-color);
    }
  }

  &__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    z-index: 1;
  }
  &__icon {
    display: block;
    position: relative;
    font-size: 23px;
    transition: .25s;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    transition: .25s;
  }
}

</style>