/**
*
*
* @author Tatevosyan Artem (@teqst)
*/

<template>
  <div class="modal" :class="propClass">
    <div class="modal__overlay">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__header-title">
            {{ propTitle }}
          </div>
          <button class="modal__header-button" @click="closeModal"></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modals",
  props: {
    propClass: {
      type: String,
      required: true
    },
    propTitle: {
      type: String,
      required: false
    }
  },
  data: () => {
    return {}
  },
  methods: {
    closeModal() {
      this.$el.classList.remove('modal--active');
      document.body.classList.remove('no-scroll');
    }
  }
}
</script>

<style scoped lang="scss">
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
    transition: all .6s ease-in-out;
    transform: translateY(100%);

    &--active {
      transform: translateY(0%);
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #1C1C1E;
      backdrop-filter: blur(80px);
      border-radius: 13px 13px 0 0;
      width: 100%;
      height: calc(100% - 70px);
      padding: 16px;
    }

    &__header {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      &-title {
        font-size: 24px;
        font-weight: 500;
      }

      &-button {
        width: 30px;
        height: 30px;
        background-image: url("../../assets/images/Close.svg");
        background-repeat: no-repeat;
      }
    }
  }
</style>