<template>
  <div class="page-layout">
    <div
        class="page-layout__header"
        :class="{
          'page-layout__header--jc-flex-start' : !isIcon
        }"
    >
      <h1 class="page-layout__title">{{ title }}</h1>
      <font-awesome-icon class="page-layout__icon" :icon="['fa', 'user-circle']" v-if="isIcon" />
    </div>
    <div class="page-layout__content">
      <slot></slot>
    </div>
  </div>
</template>

<script>

export default {
  name: 'PageLayout',
  props: {
    isIcon: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  }
}

</script>


<style lang="scss">

.page-layout {
  padding: 40px 20px 20px;

  &__header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--jc-flex-start {
      justify-content: flex-start;
    }
  }

  &__title,
  &__icon {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
  }

  &__icon {
    color: var(--blue-color);
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;
    margin: 45px 0 30px;
  }
}

</style>