<template>
  <PageLayout
    title="Health"
    :isIcon="false"
  >
  </PageLayout>
</template>

<script>

export default {
  name: 'Health',
  components: {
  },
  data: () => {
    return {
    }
  },
  methods: {
  },
  mounted() {
  },
  watch: {
  }
}
</script>

<style lang="scss">


</style>