<template>
  <PageLayout
      title="Today"
      :isIcon="true"
  >
    <WaterCard
        title="Water level"
        :level="undefined"
    />
    <PressureCard
        title="Pressure data"
        :pressure-data="undefined"
    />

    <WeightCard
        title="Weight data"
        :weight-data="undefined"
    />
    <ButtonCard
      propTitle="Show All Health Data"
      :propIcon="['fa', 'clinic-medical']"
      :propButtonStyle="{
        marginTop: '-20px',
      }"
      @click="$router.push('/health')"
    />
  </PageLayout>
  <Modals
      propClass="modal--weight-card"
      propTitle="Edit weight"
  />
  <Modals
      propClass="modal--pressure-card"
      propTitle="Edit pressure"
  />
  <Modals
      propClass="modal--water-card"
      propTitle="Edit water level"
  />
</template>

<script>

import WaterCard from "@/components/WaterUI/WaterCard";
import PressureCard from "@/components/PressureUI/PressureCard";
import WeightCard from "@/components/WeightUI/WeightCard";

export default {
  name: 'Home',
  components: {
    WaterCard,
    PressureCard,
    WeightCard
  },

  data: () => {
    return {
    }
  },

  methods: {

  },
}
</script>


<style lang="scss">

.home-page {
  padding: 40px 20px 20px;

  &__header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title,
  &__icon {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
  }

  &__icon {
    color: var(--blue-color);
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;
    margin: 45px 0 30px;
  }
}

</style>