<template>
  <PageLayout
      title="Settings"
      :isIcon="true"
  ></PageLayout>
</template>

<script>

export default {
  name: 'Settings',
  components: {
  },
  data: () => {
    return {
    }
  },
  methods: {
  },
  mounted() {
  },
  watch: {
  }
}
</script>
