<template>
  <div
    class="weight-card"
    :class="{
      'weight-card--no-data': isEmpty
    }"
  >
    <div class="weight-card__title">
      <font-awesome-icon class="weight-card__icon" :icon="['fa', 'weight']" />
      {{ title }}
    </div>
    <template v-if="!isEmpty">
      <font-awesome-icon class="button--add" :icon="['fa', 'plus-circle']" @click="openModal"/>
      <div class="weight-card__content">
        <div class="weight-card__content-title">
          Current weight
        </div>
        <div class="weight-card__content-weight">
          <div class="weight-card__content-weight-text">
            <span class="weight-card__content-weight-value">{{ weightData }}</span>
            <span class="text--color-grey">&nbsp;kg</span>
          </div>
          <button class="weight-card__content-button">
            <font-awesome-icon class="weight-card__icon" :icon="['fa', 'edit']" />
          </button>
        </div>
      </div>
    </template>
    <template v-else>
      <span class="weight-card__text">There is no data for today</span>
      <font-awesome-icon class="weight-card__button" :icon="['fa', 'plus-circle']" @click="openModal"/>
    </template>
  </div>
</template>

<script>

export default {
  name: 'WeightCard',
  components: {
  },
  props: {
    weightData: {
      type: Number,
      required: false,
    },
    title: {
      type: String,
      required: false,
    },
  },
  methods: {
    openModal() {
      const modal = document.querySelector('.modal--weight-card');

      if (!modal) {
        console.log('Modal doesnt exist')
        return;
      }
      document.body.classList.add('no-scroll');
      modal.classList.toggle('modal--active');
    }
  },
  computed: {
    isEmpty: function() {
      return typeof this.weightData !== 'number';
    }
  }
}
</script>

<style scoped lang="scss">

.weight-card {
  border-radius: 16px;
  height: 110px;
  width: 100%;
  max-width: 360px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;

  &__title {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: -24px;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
  }

  &__icon {
    color: var(--lime-color);
  }

  &__content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 8px;
  }

  &__content-weight {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 40px;
    line-height: 180%;
    color: var(--s-color);
    width: 100%;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-evenly;

    &-text {
      color: var(--s-color);
      font-family: var(--font-family-2);
      font-size: 25px;
    }

    &-value {
      font-size: 40px;
    }

    .weight-card__icon {
      font-size: 30px;
      transition: color .2s ease-out;

      &:hover {
        color: var(--blue-color);
      }
    }
  }

  &__content-title {
    font-size: 22px;
    line-height: 130%;
    color: var(--grey-2-color);
  }

  &--no-data {
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: auto;


    .weight-card__button {
      font-size: 19px;
      cursor: pointer;
      position: initial;
    }

    .weight-card__text {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.text--color-grey {
  color: var(--grey-color);
}
</style>
