<template>
  <div class="app">
    <router-view/>
    <Menu :menu-items="menu"></Menu>
  </div>
</template>

<script>


export default {
  components: {
  },
  data() {
    return {
      menu: [
        {id: 1, title: 'Home', icon: ['fas', 'home'], link: '/'},
        {id: 2, title: 'Health', icon: ['fas', 'notes-medical'], link: '/health'},
        {id: 3, title: 'Support', icon: ['fas', 'ruble-sign'], link: '/support'},
        {id: 4, title: 'Settings', icon: ['fas', 'ellipsis-h'], link: '/settings'},
      ]
    }
  }
}

</script>

<style lang="scss">


html {
  background-color: var(--p-color);
  font-family: var(--font-family-1);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    &::after {
      position: fixed;
      z-index: 999;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: "Please, use our application only in portrait mode 📱;";
      background-color: #1A1A1A;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      font-size: 25px;
      color: var(--s-color);
      align-items: center;
      background-image: url('assets/images/portrait.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    body {
      overflow-y: hidden;
    }
  }
}

.app {
  background-color: var(--p-color);
  color: var(--s-color);
  min-height: 100vh;
  padding-bottom: 100px;
}

.button--add {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 19px;
  cursor: pointer;
}

.no-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden;
}

</style>
