<template>
  <div class="water-card">
<!--    <font-awesome-icon class="button&#45;&#45;add" :icon="['fa', 'plus-circle']" @click="openModal"/>-->
<!--    <div class="water-card__title">-->
<!--      <font-awesome-icon class="water-card__icon" :icon="['fa', 'tint']" />-->
<!--      {{ title }}-->
<!--    </div>-->
<!--    <div class="water-card__text-lvl">-->
<!--      {{ level }}%-->
<!--    </div>-->
<!--    <div class="water-card__level">-->
<!--      <div class="water-card__level-percentage" :style="{height: level + '%'}"></div>-->
<!--    </div>-->
  </div>
</template>

<script>

export default {
  name: 'WaterCard',
  components: {
  },
  props: {
    level: {
      type: String,
      required: false,
    },
    title: {
      type: String,
      required: false,
    },
  },
  methods: {
    openModal() {
      const modal = document.querySelector('.modal--water-card');

      if (!modal) {
        console.log('Modal does not exist')
        return;
      }
      document.body.classList.add('no-scroll');
      modal.classList.toggle('modal--active');
    }
  }
}
</script>

<style scoped lang="scss">

.water-card {
  border-radius: 16px;
  height: 110px;
  width: 100%;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;

  &__title {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: -24px;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
  }

  &__text-lvl {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: 900;
    color: var(--s-color);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 6px solid #1A1A1A;
    padding: 10px 15px;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(50px);
  }

  &__icon {
    color: var(--blue-color);
  }

  &__level {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;


    &-percentage {
      background: rgb(0,122,255);
      background: linear-gradient(356deg, rgba(0,122,255,1) 0%, rgba(10,132,255,1) 35%, rgba(90,200,250,1) 83%, rgba(100,210,255,1) 100%);
      width: 100%;
      transition: all 3s cubic-bezier(1,0,.59,1.74);
    }
  }
}

</style>
